* {
  margin: 0;
  padding: 0;
  border: 0;
}
h1 {
  font-family: Source Sans Pro;
  text-align: center;
  margin-bottom: 50px;
}
h3 {
  font-family: Nanum Gothic;
}
p {
  font-family: Titillium Web;
}
.container {
  margin: 5% auto;
  width: 90%;
}
.accordion {
  background-color: #FF7F50;
  width: 100%;
  display: block;
  height: 200px;
  min-width: 800px;
  overflow: hidden;
  list-style-type: none;
  font-size: 0;
}
@font-face {
  font-family: 'Genericons';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff') format('woff'),
   url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot') format('truetype'); 
}
.labels {
  display: inline-block;
  background-color: #FFA07A;
  border-right: 1px solid #FF7F50;
  width: 80px;
  height: 200px;
  margin: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out 0.1s;
}
.labels:hover {
  width: 450px;
}
.labels:hover .links a:before {
  margin-left: -100px;
}
.labels:hover .links a:after {
  margin-left: -5px;
}
.labels .content {
  background-color: #FFF5EE;
  width: 360px;
  margin-left: 80px;
  height: 200px;
  padding: 50px 0 0 15px;
  position: relative;
}
.labels .content h3{
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.labels .content p{
  font-size: 1rem;
  line-height: 1.5rem;
  padding-right: 30px;
}
.links a:before,
.links a:after{
  width: 80px;
  height: 200px;
  position: absolute;
  display: block;
  text-indent: 0;
  padding-top: 80px;
  padding-left: 25px;
  font: normal 30px Genericons;
  color: #FFF5EE;
  transition: all 0.4s ease-in-out 0.1s;
}
.links a:after{
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}
.facebook a:before,
.facebook a:after{
  content: '\f204';
}
.facebook a:after{
  background-color: rgb(95,158,160);
}
.instagram a:before,
.instagram a:after{
  content: '\f215';
}
.instagram a:after{
  background: linear-gradient(#663399,#FF4500);
}
.twitter a:before,
.twitter a:after{
  content:'\f202'
}
.twitter a:after{
  background-color: #00FFFF;
}
.linkedin a:before,
.linkedin a:after{
  content: '\f208';
}
.linkedin a:after{
  background-color: #008080;
}
.youtube a:before,
.youtube a:after{
  content: '\f213'
}
.youtube a:after{
  background-color: #FF0000;
}
@media (max-width: 750px){
  .container{
    width: 100%;
  }
  .labels{
    display: block;
    width: 100%;
    border-bottom: 1px solid #A9A9A9;
  }
  .accordion {
    display: block;
    min-width: 450px;
    height: auto;
  }
  .labels .content{
    width: 85%;
  }
  .labels:hover {
    width: 100%;
  }
  
}